<div class="container">
  <div class="row py-3">
    <div class="col-12">
      <h1 class="text-center fw-bold">About Me</h1>
      <p class="mt-2 fw-bold fs-4" style="color: #397eef">A Glimpse of Me</p>
      <p class="fs-5 text-secondary text-justify">
        I am a self-learned Full Stack Developer and Mobile App Developer with a
        passion for building user-friendly, efficient, and dynamic web
        applications. I have developed several websites with intuitive, flexible
        interfaces and a focus on creating seamless single-page applications. My
        work emphasizes clean, optimized code and leveraging the latest
        technologies to ensure top-notch performance. Currently, I am pursuing a
        Master’s in Data Science in University of Arizona, where I am expanding
        my expertise in data analytics by working on projects using Tableau,
        Power BI, and R. My goal is to combine my development skills with
        data-driven insights to create impactful solutions.
      </p>
    </div>
  </div>
</div>
