<div class="banner-container h-100" style="align-content: center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="fw-bold">Hi, I am Devendran</h1>
        <om-typewriter
          [words]="words"
          [deleteDelay]="1500"
          [writeDelay]="20"
          styleClass="custom-typewriter"
        >
        </om-typewriter>
        <p class="text-justify">
          A passionate Data Analyst and Full Stack Developer currently pursuing
          my Master's in Data Science at the University of Arizona. I love
          working with data to uncover insights and develop innovative
          solutions, while also building robust web applications to bring ideas
          to life.
        </p>
        <!-- social links section -->
        <div class="d-flex">
          <a href="https://github.com/vemuladevendran" target="_blank">
            <img class="px-2 social-link" src="assets/git.png" alt="Git" />
          </a>
          <a
            href="https://www.linkedin.com/in/devendranvemula/"
            target="_blank"
          >
            <img
              class="px-2 social-link"
              src="assets/linkedin.png"
              alt="Linked"
            />
          </a>
          <a href="https://medium.com/@devendranvemula" target="_blank">
            <img
              class="px-2 social-link"
              src="assets/medium.png"
              alt="Medium"
            />
          </a>
          <a
            href="https://public.tableau.com/app/profile/devendran.vemula/vizzes"
            target="_blank"
          >
            <img
              class="px-2 social-link"
              src="assets/tableau.png"
              alt="Tableau"
            />
          </a>
        </div>
        <!-- resume -->
        <div class="mt-4">
          <a
            target="_blank"
            href="assets/resume.pdf"
            download="resume.pdf"
            class="btn btn-primary px-5 py-2"
          >
            Resume
          </a>
        </div>
      </div>
      <div class="col-6 d-none d-md-block">
        <img
          decoding="async"
          loading="lazy"
          class="w-100 h-100"
          src="/assets/bannerimg.svg"
          alt="Banner Image"
        />
      </div>
    </div>
  </div>
</div>
