.banner-container {
    background-image: url('/assets/bannerbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


::ng-deep .custom-typewriter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.7rem;
    color: #397eef;
    font-weight: bold;
}

@media (max-width: 576px) {
    ::ng-deep .custom-typewriter {
      font-size: 1.5rem;
    }
  }


.social-link {
    width: 3.5rem;
    cursor: pointer;
}


.social-link:hover{
    width: 4rem;
}